<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Pop the Balloons</title>
</head>
<body>
    <div id="app" class="wrapper">
        <h1>Pop the balloons by moving</br>your mouse over them</h1>
        <h2 id="contador">Popped Balloons: {{explotados}}</h2>
        <transition name="fade" mode="out-in">
            <div id="yay-no-balloons" v-if="isEndGame">
                <span class="blue">Wow!</span> All balloons popped!<br>
                <button @click="resetGame">Reset Game</button>
            </div>
            <div id="balloon-gallery" v-else>
                <span v-for="balloon in balloons">
                    <transition name="fade" mode="out-in">
                        <div v-if="!balloon.explotado" class="balloon" @mouseover="explotarGlobo(balloon)"></div>
                        <div v-else class="balloon pop" @mouseover="inflarGlobo(balloon)">POP!</div>
                    </transition>
                </span>
            </div>
        </transition>
    </div>

    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity .1s ease;
        }
        .fade-enter-from, .fade-leave-to {
            opacity: 0;
        }
    </style>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- script js -->
    <script src="app.js"></script>
</body>
</html>